
{block content}

zakladna strana ciselnikov
<br>
<a href="/atlasMineralov/www/Ciselnikfarba/">Farba    </a>
<br>
<a href="/atlasMineralov/www/Ciselnikkrystalografickasustava/">Kryštalografická sústava    </a>
<br>
<a href="/atlasMineralov/www/Ciselniklesk/">Lesk    </a>
<br>
<a href="/atlasMineralov/www/Ciselniklom/">Lom    </a>
<br>
<a href="/atlasMineralov/www/Ciselnikpriepustnostsvetla/">Priepustnosť svetla    </a>
<br>
<a href="/atlasMineralov/www/Ciselnikstiepatelnost/">Štiepateľnosť    </a>
<br>
<a href="/atlasMineralov/www/Ciselnikvonkajsivzhlad/">Vonkajší vzhľad    </a>
<br>
<a href="/atlasMineralov/www/Ciselnikvryp/">Vryp    </a>    
<br>
<a href="/atlasMineralov/www/Skupina/">Skupina    </a>