
{block content}


<fieldset>
    <legend>Skupina</legend>
{control vlozVlastnostForm}
</fieldset>
<table>
    <thead>
    <tr>
        <th>Vlastnosť</th>
        
    </tr>
    </thead>
    <tbody>
        
    {foreach $tasks as $task}
    <tr>
	
        <td>{$iterator->getCounter()} </td>
        <td>{$task->nazov}</td>
	<td>
		<a n:href="delete, $task->id">Delete</a>
	</td>
    </tr>
    
    {/foreach}
    
    </tbody>
</table>